<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/fontawesome.min.css" rel="stylesheet"/>
    <link href="css/brands.min.css" rel="stylesheet"/>
    <link href="css/solid.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h2>
    Comments
</h2>
<hr>

<p class="mt-1">
    Measurements whose score is 0 or no value is selected
</p>

<small class="mt-3">
    {% for category in results %}
    {% if not category.all_dimensions_ok %}
    <small><b>{{ category.name }}</b></small>
    <br>
    {% for dimension in category.dimensions %}
    {% if not dimension.all_metrics_ok %}
    <small>&boxv;&nbsp;&nbsp;&horbar;&nbsp;{{ dimension.name }}</small>
    <br>
    {% for metric in dimension.metrics %}
    {% if not metric.is_metric_ok %}
    <small>&verbar;&nbsp;&nbsp;&horbar;&horbar;&nbsp;&nbsp;{{ metric.definition }}</small>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</body>
</html>