{% extends "base.html" %}

{% load static %}

{% block title %}QUANTUM{% endblock %} #this is the title of the page-tab

{% block nav_about %}active{% endblock nav_about %}

{% block content %}
<h2 class="text-center mt-3">About</h2>

<h3 class="mt-3">Authoring</h3>
<p>
    This tool is part of the QUANTUM project,
    specifically designed to create the data quality and utility label. The tool enables
    researchers and professionals to evaluate, label, and track the quality and usefulness of data
    across various stages of its lifecycle. By providing a structured framework for assessing data maturity,
    this tool supports informed decision-making, ensuring that data meets high standards of reliability and
    utility in line with the QUANTUM project’s mission to promote enhanced data management and integrity.
</p>
<h3 class="mt-3">Funding</h3>
<p>
    This work is funded through the QUANTUM project
    no HORIZON-HLTH-2023-TOOL-05-09 - Developing a Data Quality and Utility
    Label for the European Health Data Space.
</p>
<h3 class="mt-3">Code repositories</h3>
<p>
    <a target="_blank" href="https://github.com/quantum-label/quantum_labelling_tool">GitHub</a>
    <br>
    <a target="_blank" href="https://zenodo.org/records/14637282">Zenodo</a>
</p>
<h3 class="mt-3">Contact</h3>
<p>
    If you have any questions, please contact us at <a href="mailto:pilot@quantumproject.eu">pilot@quantumproject.eu</a>.
</p>
<p class="mb-5"></p>
{% endblock %}
