{% extends "base.html" %}

{% load static %}

{% block title %}QUANTUM{% endblock %} #this is the title of the page-tab

{% block nav_about %}active{% endblock nav_about %}

{% block content %}
<h2 class="text-center mt-3">About</h2>

<h3 class="mt-3">Authoring</h3>
<p>
    This tool is part of the QUANTUM project,
    specifically designed to create the data quality and utility label. The tool enables
    researchers and professionals to evaluate, label, and track the quality and usefulness of data
    across various stages of its lifecycle. By providing a structured framework for assessing data maturity,
    this tool supports informed decision-making, ensuring that data meets high standards of reliability and
    utility in line with the QUANTUM project’s mission to promote enhanced data management and integrity.
</p>
<h3 class="mt-3">Funding</h3>
<p>
    This work is funded through the QUANTUM project
    no HORIZON-HLTH-2023-TOOL-05-09 - Developing a Data Quality and Utility
    Label for the European Health Data Space.
</p>
<h3 class="mt-3">Terms of Use (and conditions)</h3>
<h4 class="mt-3">
    1. Acceptance of Terms
</h4>
<p>
    By accessing and using this web app, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms carefully. If you do not agree with these terms, you should not use the web app.
</p>
<h4>
    2. Modification of Terms
</h4>
<p>
    We reserve the right to change or update these terms at any time without prior notice. Your continued use of the web app following any such changes constitutes acceptance of the new terms.
</p>
<h4>
    3. Use of the Web App
</h4>
<ul>
    <li>
        Eligibility: This web app is intended for use by individuals or organizations for the purpose of creating data quality, utility, and maturity labels.
    </li>
    <li>
        User Responsibility: You are responsible for ensuring the accuracy and legality of the data you input into the web app.
    </li>
    <li>
        Prohibited Actions: You agree not to use this web app for any illegal purposes, or in any way that may cause harm to the app, its users, or any third party.
    </li>
</ul>
<h4>
    4. Intellectual Property
</h4>
<p>
    All content and materials provided on this web app, including but not limited to text, graphics, logos, and software, are the intellectual property of [Your Name/Organization] or its licensors. Unauthorized use or reproduction of these materials is
    prohibited.
</p>
<h4>
    5. Data and Privacy
</h4>
<p>
    By using this web app, you agree to the collection and use of data as outlined in our [Privacy Policy]. We take your privacy seriously and will not share your data with third parties without your consent, except as required by law.
</p>
<h4>
    6. Disclaimers
</h4>
<ol>
    <li>
        The web app is provided “as is” without warranties of any kind, either express or implied. We make no warranties or representations about the accuracy or completeness of the content on the app.
    </li>
    <li>
        We do not guarantee that the app will be free from errors or uninterrupted, nor that it will meet your specific requirements.
    </li>
</ol>
<h4>
    7. Limitation of Liability
</h4>
<p>
    To the fullest extent permitted by law, [Your Name/Organization] shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use of or inability to use the web app, even if we have been advised of the
    possibility of such damages.
</p>
<h4>
    8. Termination
</h4>
<p>
    We reserve the right to terminate or suspend your access to the web app, without notice, for conduct that we believe violates these Terms of Use or is harmful to other users or the web app.
</p>
<h4>
    9. Governing Law
</h4>
<p>
    These terms shall be governed by and construed in accordance with the laws of [Your Country/Region]. Any disputes arising out of or related to the use of this web app will be subject to the exclusive jurisdiction of the courts in [Your Country/Region].
</p>
<h4>
    10. Contact Information
</h4>
<p>
    If you have any questions about these Terms of Use, please contact us at <a href="mailto:pilot@quantumproject.eu">pilot@quantumproject.eu</a>.
</p>
<h3 class="mt-3">License</h3>
<p>
    TO BE FILLED
</p>
<h3 class="mt-3">Contact</h3>
<p>
    TO BE FILLED
</p>
<p class="mb-5"></p>
{% endblock %}
