{% extends "base.html" %}

{% load static %}

{% block title %}QUANTUM{% endblock %}

{% block nav_dataset %}active{% endblock nav_dataset %}

{% block content %}

<div class="fluid-container">
    <div class="row">
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <h2 class=" text-center mt-3 mb-3"><b>Modify catalogue</b></h2>
            <div class="card card-body mb-4" style="max-width: 1000px;">
                <p class="text-center mb-0">
                    On this page, it is possible to modify the details of the catalogue. Please fill in the fields below and click on the 
                    "Update" button to save your changes. <br>Note that the catalogue created here is designed to provide a storyline for data 
                    quality and utility assessment. It follows the traditional format of cataloguing datasets. Once a dataset is also created, its quality and utility
                    is then assessed by the QUANTUM tool.
                </p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="text" class="form-control" name="catalogue_id" value="{{ catalogue.id }}" hidden>
                <div class="mb-3">
                    <label class="form-label">Title
                        <span class="text-danger">*</span>
                        <span class="question-mark" data-bs-toggle="tooltip" title="This is the title of the catalogue being created.
                        Choose a title for the catalogue." style="cursor: pointer;">?</span>
                    </label>
                    <input type="text" class="form-control" name="catalogue_title" value="{{ catalogue.title }}" maxlength="256" id="catalogue_title" required>
                    <small id="catalogue_title_count" class="form-text text-muted">256 characters left</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Version
                        <span class="text-danger">*</span>
                        <span class="question-mark" data-bs-toggle="tooltip" title="This is the version number of the catalogue being created. 
                        Choose a version for the catalogue." style="cursor: pointer;">?</span>
                    </label>
                    <input type="number" step="0.01"  class="form-control" name="catalogue_version"  value="{{ catalogue.version }}"required>
                    <small id="catalogue_version_count" class="form-text text-muted">Insert numbers</small>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="/dashboard">
                    <button type="button" class="btn btn-primary">Go to DQ&U Dashboard</button>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>

<script>
// Update character counters for each field
updateCharacterCount('catalogue_title', 'catalogue_title_count', 256);
</script>

{% endblock %}