{% extends "base.html" %}

{% load static %}

{% block title %}QUANTUM{% endblock %}

{% block nav_dataset %}active{% endblock nav_dataset %}

{% block content %}
<h4>Dataset information</h4>
<hr class="mt-0">
<div class="border bg-light p-2">
    <div class="row mb--1">
        <div class="col-md-6">
            <p class="mb-1">
                <b>Catalogue</b>
                <br>
                {{ dataset.catalogue.title }}
            </p>
        </div>
        <div class="col-md-6">
            <p class="mb-1">
                <b>Name</b>
                <br>
                {{ dataset.name }}
            </p>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-6">
            <p class="mb-1">
                <b>Version</b>
                <br>
                {{ dataset.version }}
            </p>
        </div>
        <div class="col-md-6">
            <p class="mb-1">
                <b>URI</b>
                <br>
                {{ dataset.URI }}
            </p>
        </div>
    </div>

    <div class="row mb--1">
        <div class="col-12 mb-0">
            <p>
                <b class="mb-0">Description</b>
                <br>
                {{ dataset.description }}
            </p>
        </div>
    </div>
</div>
<br style="margin-bottom: 30px;">

<h2 class="text-center mt-4">Quality Assessment</h2>
<hr class="mt-0">
<div class="d-flex justify-content-center mt-3">
    <button class="btn btn-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#helpSection" aria-expanded="false" aria-controls="helpSection">
        How to Use the Quality Assessment?
    </button>
</div>

<div class="collapse mb-3" id="helpSection">
    <div class="d-flex justify-content-center">
        <div class="card card-body" style="max-width: 1000px;">
            <h5 class="text-center mb-3"><b>Follow the instructions below to evaluate your dataset</b></h5>
            <ul>
                <li><b>Categories</b>: Click on each EHDS category to expand and view its dimensions.</li>
                <li><b>Dimensions</b>: Inside each category, you will find the related dimensions. These are specific areas of data quality that need to be assessed. Click on each Dimension to access
                    detailed information and view the metrics to evaluate.
                </li>
                <li><b>Metrics</b>: For each dimension, you will see one or two metrics. Some allow you to select predefined options, while others may require manual input.</li>
                <li><b>Weights and Scores</b>: Pay attention to the weighting of each dimension and metric, as they will affect the overall data quality score.</li>
                <li><b>Assessment</b>: This is a self-assessment tool. The value chosen from the dropdown menu for each metric should be based on your own calculations and practices.
                    The system will then calculate the overall score based on your inputs.
                </li>
                <li><b><span style="color: rgba(255, 0, 0);">!!</span> Update</b>: Click the "Save changes" button to save your progress. <b><span style="color: rgb(255, 0, 0);">!!</span></b></li>
                <li><b>RDF Certificate</b>: At any point in time you can click on the "Download RDF" button to save locally your assessment in RDF (ttl) format. It will show the current state of the assessment.
                </li>
                <li><b>Privacy</b>: This system does not utilize or require access to your data, and it operates in full compliance with GDPR regulations.</li>
            </ul>
            <h4 class="text-center mt-0 mb-0"><b>Glossary</b></h4>
            <hr style="width: 15%; margin: auto">
            Within a Dimension:
            <ul style="margin-bottom: 10;">
                <li><b>Dimension Weight</b>: (i.e. 10 out of 100) This represents the weight of the dimension in the overall quality score calculation.</li>
                <ul>
                    <li><i>For example, a weighting of 10% means that a score of 50 in this dimension contributes 5 points to the overall quality score.</i></li>
                </ul>
            </ul>
            Within a Metric:
            <ul style="margin-bottom: 0;">
                <li><b>Weight</b>: The relative importance of each metric within a dimension, used to calculate the dimension's final score.</li>
                <li><b>Measurement Approach & Suggested Formula</b>: Represent suggested methods and formulas for measuring the metric (not mandatory).</li>
            </ul>
        </div>
    </div>
</div>

<div class="card card-body mt-5 mb-3" style="padding-top: 1%; padding-bottom: 1%;">
    <p class="text-center" style="margin-bottom: 0%; padding-bottom: 0%;">
        <b>Evaluate and report the following Data Quality Dimensions, within the given EHDS categories, to obtain <br> the Dataset Quality Label</b>
    </p>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-10">
        <button class="btn btn-secondary" onclick="expandAllAccordions()">Unfold all</button>
        <button class="btn btn-secondary" onclick="collapseAllAccordions()">Fold all</button>
    </div>
    <div class="col-sm-12 col-lg-2">
        <p>
            <span class="bg-warning-subtle">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            To be filled
        </p>
        <p>
            <span class="bg-success-subtle">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            Filled
        </p>
    </div>
</div>

<div class="progress-container">
    <div class="progress text-center opacity-75 mx-5" role="progressbar">
        <div id="progress" class="progress-bar bg-warning" style="width: 0%"></div>
    </div>
</div>

<script>
    // Function to update the progress bar
    function updateProgress(percentage) {
        const progressBar = document.getElementById('progress');
        progressBar.style.width = percentage + '%';
        progressBar.textContent = percentage + '%';
        
        // Change color to green when 100% is reached
        if (percentage === 100) {
            progressBar.classList.remove('bg-warning'); // Remove yellow class
            progressBar.classList.add('bg-success');    // Add green class
        } else {
            // Ensure the bar is yellow if below 100%
            progressBar.classList.remove('bg-success');
            progressBar.classList.add('bg-warning');
        }
    }
</script>

<form id="assessment" method="POST" class="mt-3"> <!-- Starts a form that will send data via a POST request when submitted. This is used for data submission. -->
    {% csrf_token %} <!-- is a security measure to protect against Cross-Site Request Forgery attacks. Django automatically checks for this token in any form submission.-->
    <input name="dataset" type="number" value="{{ dataset.id }}" hidden>
    <div class="mb-3">
        {% for category_name, category in values %}
        <!-- This loop iterates over the values dictionary passed in the context from the view. The values dictionary contains category information. "category_name" is the name of a category and "category" contains dimensions and metrics, all  of them are rendered in the template. -->
        <div class="accordion mb-1" id="accordion{{ category.id }}">
            <!-- The accordion component is used to display the category, dimension, and metric information. The category information is displayed in the first accordion. The dimension information is displayed in the second accordion. The metric information is displayed in the third accordion. -->
            <!--what is an accordion? an accordion is a vertically stacked list of items that utilizes show/hide functionality. The accordion allows the user to toggle the display of the content by clicking on the header. -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <!-- The accordion-header contains a button that the user can click to toggle the display of the content. The button has a unique ID that is used to identify dynamically using the category's ID !!! so this part set the name of the header as per the category_name and the header is also a button that can be collapsed or expanded.!! if there are 4 categories we will have 5 accordion items-->
                    <button id="button{{ category.id }}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseCategory{{ category.id }}"
                            aria-controls="collapseCategory{{ category.id }}">
                        {{ category.name }}
                    </button>
                </h2>
                <div id="collapseCategory{{ category.id }}" class="accordion-collapse collapse"
                     data-bs-parent="#accordion{{ category.id }}">  <!--!!this is the content that expands or collapses when the button is clicked.-->
                    <div class="accordion-body"> <!-- The accordion-body contains the content that is displayed when the accordion is expanded. The content is dynamically generated using the category, dimension, and metric information. -->
                        {% for dimension in category.dimensions %}  <!-- This nested loop iterates over each dimension within the current category. Each dimension has a name, definition, and a list of metrics. -->
                        <div class="accordion mb-3" id="accordion{{ category.id }}_{{ dimension.id }}">
                            <!--Another accordion is created for each dimension under its respective category, identified uniquely using both the category and dimension IDs.-->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            id="button{{ category.id }}_{{ dimension.id }}"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseCategory{{ category.id }}_{{ dimension.id }}"
                                            aria-controls="collapseCategory{{ category.id }}_{{ dimension.id }}">
                                        {{ dimension.name }}
                                    </button>
                                </h2>
                                <div id="collapseCategory{{ category.id }}_{{ dimension.id }}"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#accordion{{ category.id }}_{{ dimension.id }}">
                                    <div class="accordion-body">
                                        <div class="card mb-2 p-2 bg-light">
                                            <div class="m-1 form-text text-muted">
                                                <p><span style="color: rgba(3, 8, 80, 0.616);">Definition:</span> {{ dimension.definition }}</p>
                                                <p><span style="color: rgb(3, 8, 80, 0.616);">Dimension Weight:</span> <b>{{dimension.relevance}}</b> out of 100.
                                            </div>
                                        </div>

                                        {% for metric in dimension.metrics %}
                                        <!-- This loop iterates over each metric within the current dimension. For each metric, the template displays its details like name, definition, additional_information, etc.-->

                                        <div class="accordion mb-3"
                                             id="accordion{{ category.id }}_{{ dimension.id }}_{{ metric.id }}">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button"
                                                            id="button{{ category.id }}_{{ dimension.id }}_{{ metric.id }}"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#collapseCategory{{ category.id }}_{{ dimension.id }}_{{ metric.id }}"
                                                            aria-controls="collapseCategory{{ category.id }}_{{ dimension.id }}_{{ metric.id }}">
                                                        {{ metric.metric_label }}
                                                    </button>
                                                </h2>
                                                <div id="collapseCategory{{ category.id }}_{{ dimension.id }}_{{ metric.id }}"
                                                     class="accordion-collapse collapse"
                                                     data-bs-parent="#accordion{{ category.id }}_{{ dimension.id }}_{{ metric.id }}">
                                                    <div class="accordion-body">
                                                        <div class="card mb-2 p-2 bg-light">
                                                            <div class="m-1 form-text text-muted">
                                                                <!--<p><b>Name</b></p>
                                                                <p>{{ metric.name }}</p>-->
                                                                <p><b>Definition</b><br>
                                                                    {{ metric.definition }}</p>
                                                                <!--<p><b>Additional information</b></p>
                                                                <p>{{ metric.additional_information }}</p>-->
                                                                <p><b>Recommended Measurement Approach</b><br>
                                                                    {{ metric.measurement_approach | safe }}</p>
                                                                <p><b>How to measure</b><br>
                                                                    {{ metric.formula }}</p>
                                                                {% if metric.weight != 100 %}
                                                                <p><b>Weight</b><br>
                                                                    {{ metric.weight|floatformat:0}}%</p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        {% if metric.metric_category_values %}
                                                        <!-- If a metric has metric_category_values, a dropdown (<select>) is rendered with options for the user to select. Otherwise, a text input (<input>) is provided for manual entry.-->
                                                        <select name="metric_{{ metric.id }}"
                                                                class="form-select"
                                                                aria-label="Default select example"
                                                                {% if metric.value %}
                                                                value="{{ metric.value }}"
                                                                {% endif %}
                                                                onchange="validateAndHighlightFieldsByIds(['{{ category.id }}', '{{ category.id }}_{{ dimension.id }}', '{{ category.id }}_{{ dimension.id }}_{{ metric.id }}'], true)"
                                                        >
                                                            <option value="-">
                                                                ----
                                                            </option>
                                                            {% for metric_category in metric.metric_category_values %}
                                                            {% if metric_category.value == metric.value %}
                                                            <option value="{{ metric_category.value }}" selected>
                                                                {{metric_category.text }}
                                                            </option>
                                                            {% else %}
                                                            <option value="{{ metric_category.value }}">
                                                                {{metric_category.text }}
                                                            </option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        {% else %}
                                                        <!-- TODO fill with current values -->
                                                        <input type="text" class="form-control"
                                                               name="metric_{{ metric.id }}"
                                                               onchange="validateAndHighlightFieldsByIds(['{{ category.id }}', '{{ category.id }}_{{ dimension.id }}', '{{ category.id }}_{{ dimension.id }}_{{ metric.id }}'], true)"
                                                               placeholder="Insert here the value...">
                                                        {% endif %}

                                                        {% if metric.needs_report_URL %}
                                                        <input type="text" class="form-control mt-1"
                                                               name="url_metric_{{ metric.id }}"
                                                               onchange="validateAndHighlightFieldsByIds(['{{ category.id }}', '{{ category.id }}_{{ dimension.id }}', '{{ category.id }}_{{ dimension.id }}_{{ metric.id }}'], true)"
                                                               placeholder="Report URL (https://www.example.com)"
                                                               value="{{ metric.report_URL }}">
                                                        {% endif %}

                                                        <script>
                                                            validateAndHighlightFieldsByIds(['{{ category.id }}', '{{ category.id }}_{{ dimension.id }}', '{{ category.id }}_{{ dimension.id }}_{{ metric.id }}'])
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="text-center mt-5">
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
</form>
<div class="row mt-5">
    <div class="col-sm-4 text-end">
        <a href="/dashboard">
            <button id="go_back" type="button" class="btn btn-primary">Go to DQ Dashboard</button>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="/dataset/assessment/rdf?id={{ dataset_id }}">
            <button id="go_download" type="button" class="btn btn-secondary">Download RDF</button>
        </a>
    </div>
    <div class="col-sm-4 text-start">
        <a href="/dataset/label?id={{dataset.id}}">
            <button id="go_rdf" type="button" class="btn btn-primary">Go to DQ label</button>
        </a>
    </div>
</div>

<div class="mt-5"></div>

<script>
    let elements = document.querySelectorAll('a');

    elements.forEach(element => {
        element.addEventListener("click", enableLeaveWarning);
    });

    updateProgressBar();
</script>
{% endblock %}

<!--  an accordion is commonly used when you want to create collapsible containers or sections that can expand and collapse.
Accordions are a popular UI component that helps to present large amounts of content in a condensed format, allowing users to view or hide sections of information as needed.

In an accordion:

- Each item typically has a header (which is clickable) and a content section.
- When a user clicks the header, the corresponding content section either expands (to show more details) or collapses (to hide the content).
- You can nest accordions inside each other if you need to create a multi-level collapsible structure, like the one in your example, where categories, dimensions, and metrics are all organized with their own collapsible sections.-->