{% extends "base.html" %}

{% load static %}

{% block title %}QUANTUM{% endblock %} #this is the title of the page-tab

{% block nav_home %}active{% endblock nav_home %}

{% block content %}

<h2 class="text-center mt-3">Welcome to the<br><b>QUANTUM Labelling Tool</b></h2>

<div class="text-center mt-5">
    <hr>
    <!-- once this button is clicked it will open in a new page the certificate with all the specifics so you can see the overall rate and the rate per each dimension and ALSO it will automatically store the generated RDF in the hosting catalague page (i.e. FairDatapoint)-->
    <div class="row mt-1">
        <div class="col-sm-12" style="margin-bottom: 30px;">
            <p>The <b>QUANTUM Data Quality & Utility Labelling Tool</b> is a key component of the <b>European Health Data Space (EHDS)</b> initiative, designed to address the challenge of ensuring that health datasets are of high quality, accessible, and interoperable across EU member states. As healthcare data plays an increasingly vital role in research, policy, and innovation, this tool provides a standardized mechanism to evaluate and label the <b>quality, utility, and maturity</b> of datasets, supporting stakeholders such as healthcare institutions, research organizations, and policymakers.</p>

            <p>This tool empowers <b>data holders</b> by offering functionalities to:</p>
                <ul>
                    <li style="text-align: left;">Manage <b>catalogues</b> of datasets for their labelling.</li>
                    <li style="text-align: left;">Assess datasets quality and utility based on a guided evaluation of the QUANTUM key dimensions (such as <b>accuracy</b>, <b>accessibility</b>, and
                        <b>compliance</b>) using your own practices.</li>
                    <li style="text-align: left;">Generate and visualise <b>data quality and utility certificates (labels)</b> and download them in the healthdata@EU standardized <b>RDF format</b>.</li>
                    <li style="text-align: left;">Facilitate compliance with <b>EU-wide quality standards</b> such as <a href="https://healthdcat-ap.github.io/" target="_blank" 
                        style="color: black;">HealthDCAT-AP</a>, <a href="https://www.w3.org/TR/vocab-dcat-3/" target="_blank" style="color: black;">DCAT</a>, 
                        <a href="https://www.w3.org/TR/vocab-dqv/" target="_blank" style="color: black;">DQV</a>.</li>
                    <li  style="text-align: left;">Provide a transparent and accessible method for <b>assessing data holders maturity</b>.</li>
                </ul>

            <p>Ultimately, the QUANTUM tool aims to foster <b>trust in health data</b> across Europe by promoting reliable, reusable datasets that can be confidently shared within the European Health Data Space.</p>
        </div>
        <div class="col-sm-12">
            {% if not user.is_authenticated %}
            <a href="/login">
                <button type="button" class="btn btn-primary">Login</button>
            </a>
            {% else %}
            <div class="d-flex justify-content-center gap-3"> 
                <div class="d-inline-block">
                    <a href="/dashboard" style="text-decoration: none;">
                        <button type="button" class="btn btn-primary">Go to DQ&U Dashboard</button>
                    </a>
                </div>
                <div class="d-inline-block">
                    <a href="/organization/maturity" style="text-decoration: none;">
                        <button type="button" class="btn btn-primary">Go to Maturity Dashboard</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="mb-4"></div>
</div>
<div class="text-center" style=" margin-top:10px; margin-bottom: 20px;"><i>Do you need help? Contact us at</i> <a href="mailto:pilot@quantumproject.eu">pilot@quantumproject.eu</a></div>
{% endblock %}
